/* RESET */
html {
	box-sizing: border-box;
}

*,
::before,
::after {
	background-repeat: no-repeat; /* 1 */
	box-sizing: inherit; /* 2 */
	margin: 0;
}


/* SIMPLE ATTRIBUTES */
h1 {
	font-size: 22px;
	font-family: 'Noto Sans', Arial;
	text-align: center;
	margin: 0 0 25px;
	color: #3385ff;
}

h2 {
	font-weight: 300;
	font-family: 'Noto Sans', Arial;
	font-size: 1.25rem;
	margin-left: 20px;
}

ul {
	list-style: none;
	padding: 0;
}

pre {
	padding: 25px;
	white-space: pre-wrap;
	margin: 0;
}

input {
	flex-grow: 1;
	background-color: #f2f2f2;
	height: 40px;
	padding: 10px 5px;
	border: 0;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 300;
}

input:focus, button:focus {
	outline: none;
}

button {
	border: 0;
	font-size: 12px;
	cursor: pointer;
	color: #f2f2f2;
	padding: 5px;
	font-family: 'Roboto', Arial;
	text-transform: uppercase;
	font-weight: 300;
}

/* CLASSES */
.container {
	display: flex;
}

.main {
	flex-grow: 1;
	padding: 20px;
}

.meta {
	flex-shrink: 0;
	width: 400px;
	min-height: 100vh;
	padding: 20px;
	background: #f2f2f2;
}

.todo-form {
	margin-bottom: 50px;
	display: flex;
}

.todo-form button {
	height: 40px;
}

.add {
	flex-grow: 1;
	display: flex;
	margin-right: 10px;
}

.todo {
	width: 100%;
	padding: 10px 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f2f2f2;
	color: #bdbdbd;
}

.todo button {
	background: none;
}

.btn--remove {
	color: #FF1744;
}

.btn--complete {
	color: #00E676;
}

.btn--add {
	flex-shrink: 0;
	width: 50px;
	background-color: #3385ff;
}

.btn--test {
	background: #607D8B;
}

.btn--clear {
	background: #FF1744;
}

.btn--test, .btn--clear {
	width: 120px;
	margin-right: 10px;
}

.complete {
	text-decoration: line-through;
}

/* MEDIA QUERIES */
@media (max-width: 996px) {
	.container {
		flex-direction: column-reverse;

	}
	.meta {
		width: 100%;
	}
}
@media (max-width: 600px) {
	.main {
		padding: 10px;
	}

	.meta {
		display: none;
	}
}

@media (max-width: 400px) {
	.btn--test {
		display: none;
	}

	h2 {
		font-size: 16px;
	}
}
