/* RESET */
html {
	box-sizing: border-box;
}

*,
::before,
::after {
	background-repeat: no-repeat; /* 1 */
	box-sizing: inherit; /* 2 */
}

/* SIMPLE ATTRIBUTES */
h2 {
	font-weight: 300;
	font-family: 'Noto Sans', Arial;
	font-size: 1.25rem;
	margin-left: 20px;
}

ul {
	list-style: none;
	padding: 0;
}

pre {
	width: 33%;
	background: #f2f2f2;
	padding: 25px;
	white-space: pre-wrap;
	margin: 0;
}

input {
	background-color: #f2f2f2;
	width: 90%;
	height: 40px;
	padding: 10px 5px;
	border: 0;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 300;
}

input:focus, button:focus {
	outline: none;
}

button {
	border: 0;
	font-size: 12px;
	cursor: pointer;
	color: #f2f2f2;
	padding: 5px;
	font-family: 'Roboto', Arial;
	text-transform: uppercase;
	font-weight: 300;
}

/* CLASSES */
.container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 20px;
}

.main {
	width: 67%;
}

.todo-form {
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

.todo-form button {
	height: 40px;
}

.add {
	width: 60%;
	margin-right: 10px;
}

.todo {
	width: 90%;
	padding: 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f2f2f2;
	color: #bdbdbd;
}

.todo button {
	background: none;
}

.btn--remove {
	color: #F44336;
}

.btn--complete {
	color: #4CAF50;
}

.btn--add {
	width: 10%;
	background-color: #3385ff;
}

.btn--test {
	background: orange;
}

.btn--clear {
	background: lightcoral;
}

.btn--test, .btn--clear {
	width: 10%;
	margin-right: 10px;
}

.complete {
	text-decoration: line-through;
}
